{% extends "accounts/auth/layout.html" %}
{% block auth_content %}
<article>
	<header>
		<h3 class="title rg">Login</h3>
	</header>
  <form method="POST" class="form">
      {% csrf_token %}
      <ul class="form__list">
        {{ form.as_ul }}
      </ul>
      <div class="form__submit">
        <a class="link black" href="{% url 'accounts:password_reset' %}">Lost Password?</a>
        <a class="link black" href="{% url 'accounts:signup' %}">Sign up</a>
        <button class="primary-btn" type="submit">Log in</button>
      </div>
  </form>
</article>
{% endblock auth_content %}
