{% extends "accounts/auth/layout.html" %}
{% block auth_content %}
<article>
	<header>
		<h3 class="title rg">Password reset</h3>
	</header>
  <p><strong>Forgotten your password?</strong></p>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
  <form method="POST" class="form">
    {% csrf_token %}
    <ul class="form__list">
      {{ form.as_ul }}
    </ul>
    <div class="form__submit">
      <button class="primary-btn" type="submit">Reset Password</button>
    </div>
  </form>
</article>
{% endblock auth_content %}
