{% extends "accounts/auth/layout.html" %}
{% block auth_content %}
{% if validlink %}
  <article>
    <header>
      <h2 class="title md">Password reset</h2>
    </header>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form method="POST" class="form">
      {% csrf_token %}
      <ul class="form__list">
        {{ form.as_ul }}
      </ul>
      <div class="form__submit">
        <input class="primary-btn" type="submit" value="Change my password">
      </div>
    </form>
  </article>
{% else %}
  <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset</p>
{% endif %}
{% endblock auth_content %}
